#container {
    height: 400px;
    width: 300px;
    background-color: #000;


}

.operand {
    background-color: #ffffff;
    width: 75px;
    margin-right:10px;
    margin-bottom:20px;
}

#operator {
    float: left ;
}

#left-operand {
    float: left;
    margin-left: 32px;
}

#right-operand {
    float: left;
}

.rows {
    clear: both;
    height: 75px;
    width:250px;
    margin-left:32px;
}

.btn {
    height: 50px;
    width: 50px;
}